<%= form_for :team do |f| %>
  <p>
    <%= f.label :team_name %><br>
    <%= f.text_field :team_name %>
  </p>
 
  <p>
    <%= f.label :team_location %><br>
    <%= f.text_field :team_location %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>